@model Equipe109_Hackaton_CCR.Models.EmpresaModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EmpresaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEmpresa" />
            <div class="form-group">
                <label asp-for="Empresa" class="control-label"></label>
                <input asp-for="Empresa" class="form-control" />
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ramo" class="control-label"></label>
                <input asp-for="Ramo" class="form-control" />
                <span asp-validation-for="Ramo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdeFuncionarios" class="control-label"></label>
                <input asp-for="QtdeFuncionarios" class="form-control" />
                <span asp-validation-for="QtdeFuncionarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
